@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  background-color: #ffffff;
  color: #0f0f0f;
  margin: 0;
}
nav {
  background-color: white;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  height: 80px;
}
.logo {
  display: flex;
  align-items: center;
  height: 100%;
}
.logo img {
  height: 100%;
  width: auto;
}
.navLinks {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0f0f0f;
  text-shadow: 0px 0px 10px #ffffff;
  font-family: Poppins;
  font-weight: bold;
  height: 100%;
  padding-inline: 50px;
  background-color: transparent;
  font-size: 1.5em;
}
.navLinks:hover {
  background-color: #ffda9d;
  transition: 0.3s;
}
.content {
  max-width: 1920px;
  margin: 0 auto;
}
#heroImage {
  width: 100%;
}
#heroContainer {
  width: 100%;
  text-align: center;
  margin: 10em 0 10em 0;
}
#heroText {
  font-family: Poppins;
  font-weight: 500;
  font-size: 3em;
}
#heroMessage {
  font-family: Lato;
  margin: 15px;
  font-size: 1.5em;
}
button {
  background-color: #7f523b;
  color: #ffffff;
  font-size: 1.1em;
  margin: 15px;
  border-radius: 5px;
}
#missionContainer {
  position: relative;
  width: 70%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
  margin: 30px auto;
}
#homeCard {
  grid-column: 1/2;
  background-color: #ffda9d;
  text-align: center;
  /* box-shadow: 2px 4px 12px #0f0f0f; */
  padding: 10px;
  position: relative;
}
#homeCard button {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  bottom: 20px;
  margin: 0 auto;
}
#homeCard p {
  margin-bottom: 45px;
}
#mission {
  background-color: #ffda9d;
  font-size: 1.5em;
}
#missionImg {
  width: 100%;
  /* box-shadow: 2px 4px 12px #0f0f0f; */
}
#projectsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  width: 70%;
  margin: 10em auto 10em auto;
  text-align: center;
}
.project h3 {
  font-family: Poppins;
  font-weight: 500;
}
#projectText {
  font-family: Poppins;
  font-weight: normal;
  grid-column: 1/4;
}
.projectImg {
  width: 100%;
  /* box-shadow: 2px 4px 12px #0f0f0f; */
}
#challangeContainer {
  display: flex;
  width: 80%;
  margin: 10em auto 10em auto;
  align-items: center;
  justify-content: space-between;
}
#challange {
  width: 50%;
  font-weight: normal;
}
#challangeButton {
  height: 30px;
  border-radius: 50px;
}
footer {
  background-color: #7f523b;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
#footerText {
  background-color: transparent;
  color: #ffffff;
}
.social {
  background-color: transparent;
  width: 60px;
}
.socialImg {
  background-color: transparent;
  width: 60px;
  margin: 10px;
}
#footerText {
  background-color: transparent;
  color: #ffffff;
}
@media screen and (max-width: 780px) {
  body {
    font-size: 16px;
  }
  #missionContainer {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  #homeCard {
    grid-row: 2/3;
  }
  #projectsContainer {
    grid-template-columns: 1fr;
  }
  #projectText {
    grid-column: 1/2;
  }
}
#designBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(0.5fr 1fr 1fr 1fr 1fr 0.5fr);
}
#processContainer {
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: center;
  font-size: 1.5em;
  margin: 0 10%;
}
#process1 {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
  margin-top: 30%;
  font-size: 1.5em;
  margin-left: 20%;
}
#processImg1 {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 50%;
  justify-self: center;
}
#process2 {
  grid-column: 2/3;
  grid-row: 3/4;
  text-align: center;
  margin-top: 30%;
  font-size: 1.5em;
  margin-right: 20%;
}
#processImg2 {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 50%;
  justify-self: center;
}
#process3 {
  grid-column: 1/2;
  grid-row: 4/5;
  text-align: center;
  margin-top: 30%;
  font-size: 1.5em;
  margin-left: 20%;
}
#processImg3 {
  grid-column: 2/3;
  grid-row: 4/5;
  width: 50%;
  justify-self: center;
}
#process4 {
  grid-column: 2/3;
  grid-row: 5/6;
  text-align: center;
  margin-top: 30%;
  font-size: 1.5em;
  margin-right: 20%;
}
#processImg4 {
  grid-column: 1/2;
  grid-row: 5/6;
  width: 50%;
  justify-self: center;
}
#philosophyContainer {
  grid-column: 1/3;
  grid-row: 6/7;
  text-align: center;
  font-size: 1.5em;
  margin: 0 10%;
}
